#home-text {
line-height:30px;
}

#home-text2 {
  line-height:40px;
}

.home-jumbotron {
  margin-top:-40px;
  background-image: url('gplaypattern_@2X.png');
  height:680px;

}

 #home-header-text{
 	color:white;
 	text-shadow: black 0.3em 0.3em 0.3em;
 }

 .home-jumbotron2{
   margin-top:-30px;
   background-image: url('congruent_outline.png');
   height:740px;
 }
